# Frontend-Abhängigkeiten
/node_modules/

# Erzeugte Frontend-Dateien
/css/
/js/
# Lokale Sicherungsdateien
*.bak
*.pre-*
# PHP-Entwicklungsabhängigkeiten
/vendor/
/vendor-bin/*/vendor/
/.php-cs-fixer.cache
